//-------------------------------------------BODY-----------------------------------------//
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica'
}

.query {
  color: #e88d0d;
}

//-------------------------------------------NAV-----------------------------------------//
.Nav {
  background:#f7f7fc;
}

#logo {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

#search_bar {
  width: 400px;

  @media (max-width: 500px) {
    width: 200px
  }
}

#nav_heart:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

#nav_heart {
  @media (max-width: 700px) {
    display: none;
  }
}

.nav_links {
  padding: 20px;
  cursor: pointer;
  font-weight: bold;

  @media (max-width: 700px) {
    font-size: 10px
  }
  
}

.nav_links:hover {
  color: #e88d0d;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

//-------------------------------------------GIPH-----------------------------------------//

.giph {
  height: 200px;
  width: 275px;
  padding: 10px;
  cursor: pointer;
  transition: transform .2s;
}

.giph_carousel {
  height: 200px;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}


.giph:hover {
  transform: scale(1.5);
  cursor: pointer;
}


//-------------------------------------------GIPHLIST-----------------------------------------//

.trending {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  box-shadow: inset 2px 2px 1px rgba(0,0,0,.05);
  background: #e1deea;
}

//-------------------------------------------FOOTER-----------------------------------------//

.footer {
  height: 200px;
  padding: 30px;
  background: #e3e5e4;
  padding: 15px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.footer_links:hover {
  color: white;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  cursor: pointer;
}

.social_media {
  display: flex;
  align-items: center;

  i {
    padding-right: 38px; 
  }

  i:hover{
    color: blue;
  }
}

//-------------------------------------------LANDING-----------------------------------------//

.landing {
  background:black;

  span:hover{
    color: white;
    -webkit-animation: shake 1s;
    animation: shake 1s;
  }

  @media (max-width: 500px) {
    display: none;
  }

  @media (max-width: 700px) {
    display: none;
  }
}

.greeting {
  font-size: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 34%;
  color: white;


  @media (max-width: 1000px) {
    font-size: 30px
  }

  
}


//-------------------------------------------COPY-----------------------------------------//

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: black;
  height: 300px;
  width: 300px;

  h1 {
    color:white;
  }

  input {
    height: 25px;
    border: aliceblue;
    color: gray;
    padding: 10px;
  }
  
  label {
    padding-right: 7px;
    color: white;
  }
}

//-------------------------------------------MODAL-----------------------------------------//


.user_modal{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.user_avatar {
  display: flex;
}

#modal_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  cursor: pointer;

  i {
    padding: 5px;
  }

  div:hover{
    color: #e88d0d;
  }
}

.modal_style{
  font-family: Arial, Helvetica, sans-serif
}


.modal-body {
  background: black;
}

#modal_title {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: gray;
  color: white;
  cursor: pointer;
}

//-------------------------------------------CAROUSEL-----------------------------------------//


button.slick-arrow.slick-next::before{
  color: black
}

button.slick-arrow.slick-prev::before{
  color: black
}

//--------------------------------------------SEARCHED-----------------------------------------//

.searched_box {
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}