//-------------------------------------------BODY-----------------------------------------//
body {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;

  h1{
    width: 50%;
  }

  h1:hover{
    color: #e88d0d;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
  }
}

//-------------------------------------------NAV-----------------------------------------//

.logo:hover{
    -webkit-animation: swing 1s;
    animation: swing 1s;
}

#nav_heart:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

//-------------------------------------------GIPH-----------------------------------------//

.giph {
  height: 200px;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}


//-------------------------------------------GIPHLIST-----------------------------------------//

.trending {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  box-shadow: inset 2px 2px 1px rgba(0,0,0,.05);
  background: #e1deea;
}

//-------------------------------------------FOOTER-----------------------------------------//

.footer {
  height: 200px;
  padding: 30px;
  background: #e3e5e4;
  padding: 15px;

  h2{
    display: flex;
    justify-content: center;
  }

  a {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  a:hover{
    color: #e88d0d;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    cursor: pointer;
  }
}

.social_media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  i:hover{
    color: blue;
  }
}

//-------------------------------------------LANDING-----------------------------------------//

.landing {
  background: #e88d0d;

  span:hover{
    color: white;
    -webkit-animation: shake 1s;
    animation: shake 1s;
  }
}

.greeting {
  font-size: 30px;
  display: flex;
  justify-content: center;
}


//-------------------------------------------COPY-----------------------------------------//

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #4aa0eb;
  height: 300px;
  width: 300px;

  h1 {
    color:white;
  }

  input {
    height: 25px;
    border: aliceblue;
    color: gray;
    padding: 10px;
  }
  
  label {
    padding-right: 7px;
  }
}

//-------------------------------------------MODAL-----------------------------------------//


.user_modal{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.user_avatar {
  display: flex;
}

#modal_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  cursor: pointer;

  i {
    padding: 5px;
  }
}

.modal_style{
  font-family: Arial, Helvetica, sans-serif
}


.modal-body {
  background: black;
}

#modal_title {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: gray;
  color: white;
  cursor: pointer;
}

//-------------------------------------------CAROUSEL-----------------------------------------//


button.slick-arrow.slick-next::before{
  color: black
}

button.slick-arrow.slick-prev::before{
  color: black
}